html {
  height: 100%;
} 
body {
  min-height: 100%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a4/Entre_o_ceu_e_o_mar.jpg');
  background-size: cover;
  color: rgb(228, 228, 222);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#color-palette {
display: flex;
align-items: center;
justify-content: center;
}
#maeDosDragoes{
  margin-left: 35%;
}
#button-random-color {
  border-radius: 80%;
  color: white;
  background-color: grey;
  padding: 10px;
  margin-left: 50px;
}
#board-size{
  width: 80px;
}
section{
  margin-left: 40%;
  margin-top: 50px;
}